$textShadowColor: #160000;
$pink: pink;
$darkRed: rgb(15, 0, 0);
$grey: rgb(179, 175, 175);
$purple: purple;
$codeSvgColor: #988e9f;

$scrollLineLeft: 20%;
$scrollLineLeftMobile: 8%;

.scrollLine {
  position: absolute;
  top: 350px;
  left: $scrollLineLeft;
  height: auto;
  width: 1px;
  background-color: $pink;
  z-index: 0;
}

.scrollIndicator {
  display: flex;
  height: 100px;
  width: 30px;
  position: absolute;
  top: 590px;
  left: calc(#{$scrollLineLeft} - 15px);
  z-index: 1;
  transition: all 0.2s;

  svg {
    position: absolute;
    left: 6px;
    background-color: rgba(20, 3, 3, 0.7);
    height: 30px;
    width: 19px;
  }

  h3 {
    color: $pink;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    transform: rotate(270deg);
    top: 48px;
    left: -11px;
    text-shadow: 
      0 3px 14px $textShadowColor, 
      0 -3px 14px $textShadowColor,
      3px 0 14px $textShadowColor, 
      -3px 0 14px $textShadowColor,
      0 3px 6px $textShadowColor, 
      0 -3px 6px $textShadowColor,
      3px 0 6px $textShadowColor, 
      -3px 0 6px $textShadowColor;
  }

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.property {
  left: 20px;
  bottom: 10px;
  position: relative;
  width: 80vw;
  color: grey;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  margin-top: 100px;
  padding-bottom: 20px;

  svg {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    top: 4px;
  }
}

.sectionContainer {
  position: relative;
  width: 80vw;
  margin-bottom: 100px;
}

.sectionCircle {
  width: 8px;
  height: 8px;
  position: absolute;
  left: -4.5px;
  top: 0;
  border-radius: 50%;
  background-color: $darkRed;
  border: 2px solid $pink;
  z-index: 1;
}

.sectionContent {
  position: relative;
  left: 35px;
  top: 50px;
  width: calc(70vw - 35px);
  
  &.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
}

.subSectionName {
  position: absolute;
  left: 35px;
  top: -3px;
  display: flex;
  color: $grey;
  white-space: nowrap;
  z-index: 2;
}

.htmlClosingSection {
  transform: scale(1, 1.25);
  margin-left: 5px;
  color: $grey;

  .greaterThanSection {
    margin-left: 2px;
    font-size: 15px;
    line-height: 19px;
    position: relative;
    top: 0;
  }
}

#startSectionContainer {
  min-height: 65vh;
  margin-bottom: 150px;

  #startSectionContent {
    h1 {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 40px;
      transform: scaleX(0);

      span {
        color: $purple;
      }
    }

    h2 {
      color: $grey;
      font-weight: normal;
      font-size: 20px;
      transform: scaleX(0);
    }
  }
}

#workSectionContainer {
  margin-bottom: 200px;
  min-height: 500px;
}

#aboutSectionContainer {
  min-height: 780px;
  margin-bottom: 150px;
}

#contactSectionContainer {
  min-height: 500px;
  margin-bottom: 100px;
}

.textContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.coverAnimation,
.coverAnimation1,
.coverAnimation2 {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  transform-origin: left;
  z-index: 1;
}

.coverAnimation {
  animation: coverText 0.7s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

.coverAnimation1 {
  animation: coverText 0.9s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

.coverAnimation2 {
  animation: coverText 1.1s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
}

.enterText {
  animation: enter 0.01s cubic-bezier(0.65, 0.05, 0.36, 1) 0.35s forwards;
  transform-origin: left;
}

.enterText1 {
  animation: enter 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) 0.35s forwards;
  transform-origin: left;
}

.block {
  display: block;
}

@keyframes coverText {
  0% {
    left: -100%;
    transform: scaleX(1);
  }
  50% {
    left: 0;
    transform: scaleX(1);
  }
  100% {
    left: 100%;
    transform: scaleX(1);
  }
}

@keyframes enter {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 900px) {
  .scrollLine {
    left: $scrollLineLeftMobile;
  }

  .scrollIndicator {
    left: calc(#{$scrollLineLeftMobile} - 15px);
    transform: scale(0.75);

    &:hover {
      transform: scale(0.85);
    }
  }

  .property {
    font-size: 10px;
    width: calc(100vw - 40px);
  }

  .sectionContainer {
    width: 90vw;
  }

  .sectionContent {
    left: 25px;
    width: calc(85vw - 25px);
  }

  .subSectionName {
    left: 25px;
    font-size: 15px;
  }

  #startSectionContainer {
    min-height: 60vh;
    margin-bottom: 100px;

    #startSectionContent {
      h1 {
        font-size: 4.6vw;
        margin-bottom: 12px;
      }

      h2 {
        font-size: 3.6vw;
      }
    }
  }

  #workSectionContainer {
    margin-bottom: 150px;
    min-height: 400px;
  }

  #aboutSectionContainer {
    min-height: 120vw;
    margin-bottom: 100px;
  }

  #contactSectionContainer {
    min-height: 400px;
    margin-bottom: 80px;
  }
}

@media (max-width: 600px) {
  .scrollIndicator {
    transform: scale(0.6);

    &:hover {
      transform: scale(0.7);
    }
  }

  .property {
    font-size: 9px;
  }

  .sectionContent {
    left: 20px;
    width: calc(85vw - 20px);
  }

  .subSectionName {
    left: 20px;
    font-size: 14px;
  }

  #startSectionContainer {
    #startSectionContent {
      h1 {
        font-size: 5vw;
      }

      h2 {
        font-size: 4vw;
      }
    }
  }
}