$grey-color: grey;
$grey-border: rgba(grey, 0.5);

.class {
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 20px;
}

.space {
  margin-right: 12px;
}

.codeLineContainer {
  position: relative;
  left: calc(-20vw - 30px);
  width: 100vw;
  height: auto;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: border-color 0.2s ease;

  &:hover {
    border-bottom: 1px solid $grey-border;
    border-top: 1px solid $grey-border;
  }
}

.codeLine {
  position: relative;
  left: calc(20vw + 30px);
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(70vw + 30px);

  .lineNum {
    color: $grey-color;
    font-weight: 100;
    left: -70px;
    position: absolute;
  }
}

.greenFont {
  color: rgb(90, 189, 148);
}

.blueFont {
  color: rgb(0, 17, 255);
}

.yellowFont {
  color: rgb(224, 217, 114);
}

.lightBlueFont {
  color: rgb(0, 195, 255);
}

.pinkFont {
  color: rgb(139, 32, 107);
}

.orangeFont {
  color: rgb(253, 152, 70);
}

.numberFont {
  color: rgb(144, 221, 56);
}

.dot {
  color: $grey-color;
  line-height: 23px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flashingCursor {
  display: inline-block;
  margin-left: 5px;
  background-color: var(--fontColor, #fff);
  height: 18px;
  width: 1.5px;
  animation: flashingCursor 0.9s ease infinite;
  vertical-align: middle;
}

@keyframes flashingCursor {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .class {
    font-size: 2.5vw;
  }

  .dot {
    line-height: 1.5vw;
    font-size: 2vw;
  }

  .codeLineContainer {
    left: calc(-8vw - 30px);

    &:hover {
      border-bottom: 1px solid $grey-border;
      border-top: 1px solid $grey-border;
    }
  }

  .codeLine {
    left: calc(8vw + 30px);
    width: calc(75vw + 30px);

    .lineNum {
      left: calc(-5vw - 25px);
    }
  }

  .flashingCursor {
    height: 2vw;
  }
}

@media (max-width: 600px) {
  .class {
    font-size: 3vw;
  }

  .dot {
    font-size: 2.5vw;
  }

  .space {
    margin-right: 6px;
  }

  .flashingCursor {
    height: 2.5vw;
  }
}
